.App {
	text-align: center;
}

ul{
	display:flex;
	flex-wrap:wrap;
}

li{
	list-style:none;
	margin:20px;
}

.select{
	background-color: #7880ab;
	color:#ffffff;
	border-radius:10px;
}

.saveBooking{
	color:#ffffff;
	background-color:green;
	width: 80px;
	height: 50px;
	border-radius:20px;
}






