.App {
	text-align: center;
}

ul{
	display:flex;
	flex-wrap:wrap;
	position: inherit;
	margin-left:20%;
}

li{
	list-style:none;
	margin:20px;
}

.select{
	background-color: #7880ab;
	color:#ffffff;
	border-radius:10px;
}

.selectedMeeting{
	text-align: center;
	margin-bottom:20px;
}

.bookingSection{
	display: flex;
	flex-direction:column;
	margin:auto;
	width: 40%;
	margin:auto;
	text-align: center;
}

.confirm{
	background: #49bc4b;
	color:#ffffff;
	font-size: 20px;
	padding:20px;
	border-radius: 20px;
	text-align: center;
	margin-top:20px;
}







